<img src="https://spl.hevs.io/spl-docs/_images/surprise.jpg">

# Introduction to the *Surprise* recommender library 

### Links:
* Project website: http://surpriselib.com/
* API Documentation: https://surprise.readthedocs.io/en/stable/index.html
* GitHub: https://github.com/NicolasHug/Surprise

## "Simple Python RecommendatIon System Engine" -> SurPrise

### Features:
* simple ***Python*** API
* standard data sets included
* state of the art algorthms
* evaluation tools

### Install

In [1]:
#cmd command to install new python packages
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 KB 12.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp39-cp39-linux_x86_64.whl size=3193682 sha256=4c935b181b399b9bd283416ef01e70c8a91b5347d3a07c40468bb7231e12ea99
  Stored in directory: /root/.cache/pip/wheels/c6/3a/46/9b17b3512bdf283c6cb84f59929cdd5199d4e754d596d22784
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

### Movie Lense Example

In [2]:
from surprise import SVD
from surprise import Dataset
from surprise import Reader
from surprise import accuracy
from surprise.model_selection import train_test_split

In [3]:
#get data from GitHub -> https://github.com/keuperj/DATA
!git clone https://github.com/keuperj/DATA.git

Cloning into 'DATA'...
remote: Enumerating objects: 101, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 101 (delta 2), reused 14 (delta 2), pack-reused 87
Receiving objects: 100% (101/101), 146.44 MiB | 24.08 MiB/s, done.
Resolving deltas: 100% (23/23), done.
Updating files: 100% (69/69), done.

In [4]:
#read raw data
import pandas as pd
r_cols = ['movie_id', 'rating', 'user_id']
ratings = pd.read_csv('DATA/movielens100k/u.data', sep='\t', names=r_cols, encoding = "ISO-8859-1")

In [5]:
#need to re-order columns
ratings=ratings[['movie_id',  'user_id','rating']]

In [6]:
ratings.head()

     movie_id    user_id  rating
196       242  881250949       3
186       302  891717742       3
22        377  878887116       1
244        51  880606923       2
166       346  886397596       1

In [7]:
# Load the movielens-100k dataset (download it if needed),
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings,reader)

In [8]:
# sample random trainset and testset
# test set is made of 25% of the ratings.
trainset, testset = train_test_split(data, test_size=.25)

In [9]:
# We'll use the famous SVD algorithm.
algo = SVD()

In [10]:
# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

In [11]:
# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 0.9957

0.995666556286089